* {scroll-behavior: smooth;}
@tailwind base;
@tailwind components;
@tailwind utilities;
.img-container:hover .link__container {
    opacity: .8;
}
.work {
    scrollbar-width: none;
}
.work::-webkit-scrollbar {
    display: none;
    appearance: none;
}
.react-pdf__Page__annotations {
    display: none;
}
@media screen and (max-width:768px) {
    .react-pdf__Page__canvas {
        width: 90% !important;
        height: 400px !important;
        margin: 0 auto !important;
        object-fit: contain !important;
    }
}
