* {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.home {
  min-height: 600px;
}
.img-container:hover .link__container {
  opacity: 0.8;
}
.white-image {
  filter: brightness(0) invert(1);
}
.work {
  scrollbar-width: none;
}
.aspected {
  aspect-ratio: 100/50;
  object-fit: cover;
}
.skill-aspect {
  aspect-ratio: 4 / 3;
}
.home-icon {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.work::-webkit-scrollbar {
  display: none;
  appearance: none;
}
.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.react-pdf__Page__annotations,
.react-pdf__Page__textContent {
  display: none;
}
.home_skill {
  @apply flex items-center justify-center rounded-full border-2 p-2 md:absolute md:w-20 md:h-20 h-16 w-16;
}

.service-card,.work__item {
  width: calc(33% - 60px);
}
@media screen and (max-width: 768px) {
  .service-card,.work__item  {
    width: calc(50% - 40px);
  }
  .react-pdf__Page__canvas {
    width: 90% !important;
    height: 350px !important;
    margin: 0 auto !important;
    object-fit: contain !important;
  }
}

@media (max-width:576px) {
  .service-card,.work__item  {
    width: 100%;
  }
}